In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
business_file = "../Resources/yelp_academic_dataset_business.csv"
business_df = pd.read_csv(business_file)
business_df.head()

/Users/ismahanadan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,5,8,15,18,21,27,30,43,49,52,62,64,66,70,84,89,92,100) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,business_id,attributes.Ambience.divey,attributes.Dietary Restrictions.vegan,attributes.Happy Hour,hours.Thursday.open,attributes.Order at Counter,attributes.Hair Types Specialized In.africanamerican,attributes.Hair Types Specialized In.kids,attributes.BYOB,hours.Friday.open,...,attributes.Smoking,attributes.Attire,attributes.Hair Types Specialized In.curly,attributes.Good For Groups,neighborhoods,attributes.Open 24 Hours,attributes.Ambience.romantic,attributes.Hair Types Specialized In.perms,attributes.Music.jukebox,attributes.Ambience.upscale
0,vcNAWiLM4dR7D2nwwJ7nCA,NaN,NaN,NaN,8:00,NaN,NaN,NaN,NaN,8:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JwUE5GmEO-sH1FuwJgKBlQ,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,casual,NaN,True,NaN,NaN,False,NaN,NaN,False
2,uGykseHzyS5xAMWoN6YUqA,False,NaN,NaN,6:00,NaN,NaN,NaN,NaN,6:00,...,NaN,casual,NaN,True,NaN,NaN,False,NaN,NaN,False
3,LRKJF43s9-3jG9Lgx4zODg,NaN,NaN,NaN,10:30,NaN,NaN,NaN,NaN,10:30,...,NaN,casual,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
4,RgDg-k9S5YD_BaxMckifkg,NaN,NaN,NaN,11:00,NaN,NaN,NaN,NaN,11:00,...,NaN,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
review_file = "../Resources/yelp_academic_dataset_review.csv"
review_df = pd.read_csv(review_file)
review_df.head()

,user_id,review_id,text,votes.cool,business_id,votes.funny,stars,date,type,votes.useful
0,Xqd0DzHaiyRqVH3WRG7hzg,15SdjuK7DmYqUAj6rjGowg,dr. goldberg offers everything i look for in a...,1,vcNAWiLM4dR7D2nwwJ7nCA,0,5,2007-05-17,review,2
1,H1kH6QZV7Le4zqTRNxoZow,RF6UnRTtG7tWMcrO2GEoAg,"Unfortunately, the frustration of being Dr. Go...",0,vcNAWiLM4dR7D2nwwJ7nCA,0,2,2010-03-22,review,2
2,zvJCcrpm2yOZrxKffwGQLA,-TsVN230RCkLYKBeLsuz7A,Dr. Goldberg has been my doctor for years and ...,1,vcNAWiLM4dR7D2nwwJ7nCA,0,4,2012-02-14,review,1
3,KBLW4wJA_fwoWmMhiHRVOA,dNocEAyUucjT371NNND41Q,Been going to Dr. Goldberg for over 10 years. ...,0,vcNAWiLM4dR7D2nwwJ7nCA,0,4,2012-03-02,review,0
4,zvJCcrpm2yOZrxKffwGQLA,ebcN2aqmNUuYNoyvQErgnA,Got a letter in the mail last week that said D...,1,vcNAWiLM4dR7D2nwwJ7nCA,0,4,2012-05-15,review,2

In [12]:
new_business_df = business_df[['business_id', 'state', 'city']].copy()
#new_business_df.head()

       business_id  state       city
count        42153  42153      42153
unique       41635     18        172
top         #NAME?     AZ  Las Vegas
freq           519  22181      12022

In [ ]:
new_business_df.describe()

In [8]:
new_review_df = review_df[['business_id', 'user_id', 'stars', 'date']].copy()
new_review_df.head()

              business_id                 user_id  stars        date
0  vcNAWiLM4dR7D2nwwJ7nCA  Xqd0DzHaiyRqVH3WRG7hzg      5  2007-05-17
1  vcNAWiLM4dR7D2nwwJ7nCA  H1kH6QZV7Le4zqTRNxoZow      2  2010-03-22
2  vcNAWiLM4dR7D2nwwJ7nCA  zvJCcrpm2yOZrxKffwGQLA      4  2012-02-14
3  vcNAWiLM4dR7D2nwwJ7nCA  KBLW4wJA_fwoWmMhiHRVOA      4  2012-03-02
4  vcNAWiLM4dR7D2nwwJ7nCA  zvJCcrpm2yOZrxKffwGQLA      4  2012-05-15